USE [master]
GO
/****** Object:  Database [EmployeeData]    Script Date: 9/27/2018 11:49:17 PM ******/
CREATE DATABASE [EmployeeData]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeData', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeData.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmployeeData_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\EmployeeData_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeData].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeData]
GO
USE [EmployeeData]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 9/27/2018 11:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](14) NOT NULL,
	[Zipcode] [nvarchar](5) NOT NULL,
	[HireDate] [date] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateModified] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[Get_Employees]    Script Date: 9/27/2018 11:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Get_Employees]

AS

/*

EXEC Get_Employees

*/

SELECT
	Id,
	LastName,
	FirstName,
	PhoneNumber,
	Zipcode,
	HireDate
FROM 
	Employees
ORDER BY 
	HireDate ASC
GO
/****** Object:  StoredProcedure [dbo].[Post_Employee]    Script Date: 9/27/2018 11:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Post_Employee]

@FirstName NVARCHAR(50),
@LastName NVARCHAR(50),
@PhoneNumber NVARCHAR(14),
@Zipcode NVARCHAR(5),
@HireDate DATE,
@Id INT OUTPUT

AS

/*
DECLARE @Id INT
EXEC Post_Employee @FirstName='Robert',@LastName='Webber', @PhoneNumber='(310) 630-9080', @Zipcode='91801', HireDate='2018-10-01'
SELECT @Id as New_Employee_Id
*/

INSERT INTO Employees(
	FirstName,
	LastName,
	PhoneNumber,
	Zipcode,
	HireDate,
	DateCreated,
	DateModified
)
VALUES(
	@FirstName,
	@LastName,
	@PhoneNumber,
	@Zipcode,
	@HireDate,
	GETUTCDATE(),
	GETUTCDATE()
)
SET 
	@Id= SCOPE_IDENTITY()
GO
/****** Object:  StoredProcedure [dbo].[Search_Employees]    Script Date: 9/27/2018 11:49:18 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Search_Employees]

@Query NVARCHAR(50)

AS
/*

EXEC Search_Employees @Query='Webb'

EXEC Search_Employees @Query='555'

*/



SELECT @Query = '%' + RTRIM(@Query) + '%';

SELECT
	 Id,
	 LastName,
	 FirstName,
	 PhoneNumber,
	 Zipcode,
	 HireDate
FROM 
	Employees
WHERE
	LastName LIKE @Query OR PhoneNumber LIKE @Query
ORDER BY
	HireDate ASC
GO
USE [master]
GO
